footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 clamp(2rem, 2vw, 3rem);
    background: rgb(255, 255, 255);
    float: none;
}

footer .size{
    display: block;
    width: auto;
    height: auto;

}
footer h1 {
    margin-right: 10px;
    font-size: clamp(0.5rem,2vw,1rem);
    color: #fd0000;
    font-family: "Poppins";
    text-align: left;
    text-shadow: 1px 1px 0px rgba(150, 183, 178, 1);
    white-space: nowrap;
}

footer p {
    color : #414141;
    font-family: "Carrois  SC",sans-serif;
    font-size: clamp(0.5rem,2vw,0.8rem);
    text-shadow: 1px 1px 0px rgba(150, 183, 178, 1);
    white-space: nowrap;
}

footer a {
 text-decoration: none;
}

footer .left {
    display: table-cell;
    flex-direction: column;
}

footer .follow {
    display: table-cell;
    flex-direction: column;

}