* {
    border: 1px solid red;
}

body {
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
}
/* =============================================================================================================
                                            FLEX BOX
   ============================================================================================================= */

#Box {
    margin-right: 50px;
    margin-left: 50px;
}

.produit {
    display: flex;
    margin-top: 50px;
}

.chapter {
    display: flex;
    align-items: center;
}

.chapter img {
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.description h1 {
    text-align: center;
    justify-content: flex-start;
}

.description h2 {
    justify-content: flex-end;
    text-align: left;
}

.description h3 {
    text-align: left
}
.description h4 {
    text-align: left
}

.description p {
    justify-content: flex-end;
text-align: center
}

/* =============================================================================================================
                                            RESPONSIVE
   ============================================================================================================= */