@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Bangers');


.file { margin-top: 100px;
}

.toolbar {
    display: flex
}

.readingchapter {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.readingchapter img {
    width: 40%;
    min-width: 400px;
    height: auto;
}
/* =============================================================================================================
                                           RESPONSIVE
    ============================================================================================================= */

.info {
    padding: 15px;
    margin-top: clamp(1rem,2vw,2rem);
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 50px;
    text-align: center;
    background-color: #ff0000;
    color: #ffffff;
}

.info h1 {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: "Carrois Gothic", sans-serif;
}

.info p {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'M PLUS 1p', sans-serif;
}

/* =============================================================================================================
                                            RESPONSIVE
   ============================================================================================================= */

@media (max-width: 425px){
    .file {margin-top: 80px}
    .readingchapter img{min-width: 250px}
}